.menu {
  height: 10px;
  width: 30px;
  border-top: 2px solid var(--primary-color);
  position: relative;
}

.menu:after {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid var(--primary-color);
}

.menu:hover {
  cursor: pointer;
  opacity: 0.6;
}
