.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 60px;
}

.toolbar img {
  width: 200px;
}

.toolbar-nav {
  min-width: 100px;
}

.link-icon {
  opacity: 0.3;
  margin: 0 20px;
  font-size: 20px;
  transition: all 250ms ease;
}

.link-icon:hover {
  opacity: 1;
  color: var(--primary-color);
}

.link {
  text-transform: uppercase;
  margin: 20px;
  font-family: Archivo-SemiBold;
  transition: color 250ms ease;
}

.link:hover {
  color: var(--primary-color);
}

/**********************************************************************
  Media queries
**********************************************************************/

/* Desktop */
@media (min-width: 1024px) {
  .menu-icon {
    display: none;
  }
}

/* Tablet */
@media (min-width: 480px) and (max-width: 1023px) {
  .link,
  .link-icon {
    display: none;
  }
}

/* Mobile */
@media (min-width: 320px) and (max-width: 479px) {
  .link,
  .link-icon {
    display: none;
  }

  .toolbar {
    margin: 40px 0px;
  }

  .toolbar img {
    width: 160px;
  }
}
