/**********************************************************************
  Common
**********************************************************************/

.page {
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}

.contact,
.home {
  background: var(--secondary-color);
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.page-content {
  padding-top: 20px;
}

.contact-form {
  width: 600px;
  margin: 100px auto 0;
}

.jumbotron {
  margin: 0 auto;
  text-align: center;
}

.jumbotron-header {
  font-family: Archivo-Bold;
  font-size: 230px;
  margin: -30px 0;
  color: white;
}

.jumbotron-image {
  margin-top: 20px;
}

.jumbotron-image img {
  display: block;
  margin: 0 auto;
}

.jumbotron-quote {
  text-transform: uppercase;
  font-size: 18px;
  font-family: Archivo-SemiBold;
  margin-bottom: 5px;
  color: var(--tertiary-color);
}

.jumbotron-tagline {
  color: var(--tertiary-color);
  font-size: 14px;
  font-family: Archivo-SemiBold;
}

.drone-drone {
  width: 400px;
}

.drone-shadow {
  position: relative;
  top: -10px;
  width: 300px;
}

/**********************************************************************
  Media queries
**********************************************************************/

/* Desktop */
@media (min-width: 1024px) {
}

/* Tablet */
@media (min-width: 480px) and (max-width: 1023px) {
  .page-content {
    padding-top: 100px;
    width: 100%;
  }

  .jumbotron-header {
    margin: 30px;
  }
}

/* Mobile */
@media (min-width: 320px) and (max-width: 479px) {
  .button {
    width: 100%;
  }

  .contact-form {
    width: 100%;
  }

  .page-content {
    width: 100%;
  }

  .contact-form {
    width: 100%;
    margin: 0 auto;
  }

  .drone-drone {
    width: 300px;
  }

  .drone-shadow {
    position: relative;
    top: -10px;
    width: 225px;
  }

  .jumbotron-header {
    margin: 30px 0 -30px;
    font-size: 120px;
  }
}
